commands: 
  01_gem_update: 
    command: 'sudo -s'
    command: 'gem update --system'
    command: 'exit'

  02_rails: 
    command: 'sudo -s'
    command: 'gem install rails'
    command: 'exit'

  03_bundler: 
    command: 'gem install bundler'

  07_home_dir: 
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo mkdir -p /home/webapp'

  08_grant_home_dir: 
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo chmod 777 /home/webapp'