commands: 
  01_gem_update: 
    command: 'sudo -s gem update --system'

  02_rails: 
    command: 'sudo gem install rails'

  03_bundler: 
    command: 'sudo gem install bundler'

  07_home_dir: 
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo mkdir -p /home/webapp'

  08_grant_home_dir: 
    test: '[ ! -p /home/webapp ] && echo "webapp not exited"'
    command: 'sudo chmod 777 /home/webapp'