// Place all the styles related to the menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shadow_p{
	color: white;
    text-shadow:
    -1px -1px 0 #483333,
    1px -1px 0 #483333,
    -1px 1px 0 #483333,
    1px 1px 0 #483333;
}

.shadow_h{
    text-shadow:
    -1px -1px 0 #483333,
    1px -1px 0 #483333,
    -1px 1px 0 #483333,
    1px 1px 0 #483333;
}